/* Write your CSS code in this file */
h1 {
    color:rgb(244, 118, 255);
    text-align: center;
    font-size:50px;
}
body{
    background-image: url('https://s3.envato.com/files/223404013/Preview_Image_4k.jpg');
}
#win{
    color:rgb(244, 118, 255);
    text-align: center;
    font-size:25px;
}

#guess {
    position:relative;
    display: block;
    bottom:300px;
    text-align:center;
    font-size:65px;
    width:100px;
    margin:0 auto;
    border-radius:25px;
    box-shadow:5px 5px;
    background:lightgray;
}
#guesses {
    position:relative;
    display:block;
    bottom:300px;
    margin:0 auto;
    margin-top:0px;
    font-size:45px;
    text-shadow: 1px 1px orange;
    background-color:gray;
    border-radius:15px;
    cursor:pointer;
}
#guesses:focus {
    outline:none;
}
#guess:focus {
    outline:none;
}
#newGame:focus {
    outline:none;
}
#hint:focus {
    outline:none;
}
#guesses:active {
    transform: translateY(5px) translateX(3px);
}
#newGame {
    position:relative;
    display:block;
    bottom:300px;
    margin:0 auto;
    margin-bottom: 40px;
    font-size:25px;
    text-shadow: 1px 1px orange;
    background-color:gray;
    border-radius:15px;
}
#newGame:active {
    transform: translateY(5px) translateX(3px);
}
#hint {
    position: relative;
    display:block;
    bottom:250px;
    margin:0 auto;
    margin-top: 20px;
    font-size:25px;
    text-shadow: 1px 1px orange;
    background-color:gray;
    border-radius:25px;
}
#hint:active {
    transform: translateY(5px) translateX(3px);
}

#guess_list {
    font-size:45px;
    color:rgb(21, 173, 110);
    font-weight: bolder;
}
#one{
    position:relative;
    left:200px;
    bottom:50px;
}
#three{
    position:relative;
    left:300px;
    top:125px;
}
#two{
    position:relative;
    left:850px;
    bottom:175px;
}
#five{
    position:relative;
    top:200px;
    left:100px;
}
#four{
    position:relative;
    left:900px;
    top:150px;
}
#input{
    position:relative;
    bottom:330px;
    text-align:center;
    font-family:cursive;
    font-size:35px;
    color:rgb(78, 219, 35);
}
#hintArray {
    position:relative;
    display:block;
    bottom:385px;
    text-align:center;
    font-family: cursive;
    font-size:35px;
    color:rgb(78, 219, 35);
}
#winning{
    position:relative;
    bottom:515px;
    text-align:center;
    font-family:cursive;
    font-size:35px;
    color:rgb(78, 219, 35);
}

